

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* background-color: #e8e8e8; */
  scroll-behavior: smooth;
  position: relative;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
}


a {
  color: inherit;
  text-decoration: none;
}


.bg {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgb(30, 36, 52, 0.6), rgba(30, 36, 52, 0.4)), url('./components/assets/img0.webp');
  /* background-image: linear-gradient(0deg, rgb(30, 36, 52, 0.16) 0%, rgba(30, 36, 52, 0.8) 100%), url('./components/assets/img0.webp'); */
   
}
.pattern {
  background-position: center;
  background-repeat: repeat;
  background-image: linear-gradient(to bottom, rgb(30, 36, 52, 0.95), rgb(30, 36, 52, 0.95)), url('./components/assets/pattern.png');
  /* background-image: linear-gradient(to bottom, rgb(255, 255, 255, 0.9), rgb(255, 255, 255, 0.88)), url('./components/assets/pattern.png'); */

}



.pulse-animate {
  transition: 0.25s ;
  animation: pulse 1s infinite;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
  background: linear-gradient(150.31deg,#ff5621 14.03%,#ff2149 65.34%);
}

.pulse-animate:hover,
.pulse-animate:focus,
.pulse-animate:active {
  animation: pulse-animate 1s;
  transform: scale(1.1);
  box-shadow: 0 0 0 3em rgba(255, 255, 255, 0);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #8c8c8e;
  }
}

.pulse-animate {
  --color: #8c8c8e;
  --hover: #8c8c8e;
}

.pulse {
  transition: 0.25s;
  background: linear-gradient(150.31deg,#ff5621 14.03%,#ff2149 65.34%);

}

.pulse:hover,
.pulse:focus,
.pulse:active {
  animation: pulse 1s;
  box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #8c8c8e;
  }
}

.pulse {
  --color: #8c8c8e;
  --hover: #8c8c8e;
}

.img {
  animation: animate 2s infinite ease alternate;
  border-radius: 50%;
  position: absolute;
}

@keyframes animate {
  100% {
    transform: translateY(-40px);
  }
}
